openai
elevenlabs>=1.0.0
spacy
nltk
python-dotenv
wikipedia
requests
apscheduler
duckduckgo-search
fastapi
uvicorn
websockets
scikit-learn
numpy
chromadb
colorama
pyyaml
jinja2
python-multipart

google-genai
SpeechRecognition
pvporcupine
PyAudio
